<routes>
	<route>
		<verb>POST</verb>
		<regex>/admin/user_delete</regex>
	</route>
	<route>
		<verb>POST</verb>
		<regex>/admin/user_update</regex>
	</route>
	<route>
		<verb>POST</verb>
		<regex>/admin/user_insert</regex>
	</route>
	<route>
		<verb>POST</verb>
		<regex>/password_login</regex>
	</route>
	<route default="true"/>
</routes>