.panel-body {
    color: green;
}

#active1, #active2, #active3, #active4 {
    background-color: #4CAF50;
}

#activeLoadout {
    width: 500px;
    height: 0px;
    
    position:absolute;
    top:250px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

#findMatch {
    padding: 20px 50px;
    font-size: 40px;
    border-radius: 10px;
}

.panel {
    margin-top: 40px;
}