.troop {
    width: 100%;
    border: 1px solid black;
    padding: 15px;
}

.loadout-item, .troop-stats-sum {
    height: 100%
}

.loadout-item .item-slot, .loadout-item .item-stats-div {
    height: 100%;
}

#troop-list {
    padding-bottom:15em;
}

.footer {
    height:15em;
    width:100%;
    position:fixed;
    bottom:0;
    background-color: #eeeeee;
    padding: 15px;
}

#options-div {
    height: 100%;
    overflow-y: auto;
}


@media (max-width: 991px) {
    #options-div {
        height: 60%;
    }
    #button-area {
        height: 40%;
    }
    .action-button {
        width:100%;
    }
}

.item-img {
	display: none;
}

.loadout-item {
    height: 100%;
}