.troop {
    width: 100%;
    border: 1px solid black;
}

.loadout-item, .troop-stats-sum {
    height: 100%
}

.loadout-item .item-slot, .loadout-item .item-stats-div {
    height: 100%;
}

#troop-list {
    padding-bottom:30%;
}

.footer {
    height:30%;
    width:100%;
    position:fixed;
    bottom:0;
    background-color: #eeeeee;
}


#options-div {
    height: 100%;
}

#save-button {
    height: 70%;
}

#cancel-button {
    height: 30%;
}

.item-img {
	display: none;
}

.loadout-item {
    height: 100%;
}