table {
    border-spacing: 3px;
}

th {
    text-align: center;
}

.search-bar-nav-vertical-center {
    transform: translateY(40%);
}

#site-wrapper {
    padding-top: 15%
}

#site-navbar {
    height: 15%;
}