table {
    border-spacing: 3px;
}

th {
    text-align: center;
}

.search-bar-nav-vertical-center {
    transform: translateY(40%);
}


#site-navbar {
    height: 15%;
}

<<<<<<< HEAD
@media (max-width: 880px) {
    .navbar-brand {
        display:none;
    }
}

@media (max-width: 800px){
    #site-navbar {
        min-height: 15%;
        position:absolute;
=======
.loader {
    border: 7px solid #f3f3f3;
    /* Light grey */
    border-top: 7px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
>>>>>>> 7c633182c72a1690a01ab095d0806c50c2abd781
    }
}