table {
    border-spacing: 3px;
}

th {
    text-align: center;
}

.search-bar-nav-vertical-center {
    transform: translateY(40%);
}


#site-navbar {
    height: 15%;
}

@media (max-width: 880px) {
    .navbar-brand {
        display:none;
    }
}

@media (max-width: 800px){
    #site-navbar {
        min-height: 15%;
        position:absolute;
    }
}